<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean id="triangle" class="SpringFrameworkByJavaBrains.SpringFrameworkByJavaBrains.prototype.Triangle" scope="prototype">
	<!-- <bean id="triangle" class="SpringFrameworkByJavaBrains.SpringFrameworkByJavaBrains.prototype.Triangle" scope="singleton"> -->
		<property name="type" value="1"></property>		
		<property name="height" value="2"></property>	
	</bean>
</beans>